beautifulsoup4==4.11.2
certifi==2022.9.24
cryptography==38.0.4
html5lib==1.1
idna==3.3
iso4217parse==0.5.1
isodate==0.6.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
more-itertools==8.10.0
pyTelegramBotAPI==4.12.0
python-dotenv
python-telegram-bot
requests
schedule==1.2.0
urllib3==1.26.12
watchdog==2.2.1
sqlite3
Flask
